.a-weekname{
    color: #e12328;
    font-weight: 500;
}

.a-verified{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    display: grid;
    font-size: 12px;
}

.dialogsize{
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;

    .card-space{
        padding-right: 10px;
    }

    .si-pa{
        color: #e12328;
        font-weight: 600;
    }

    .sizedin{
        text-align: left;
        color: #e12328;
        margin-top: -40px;
        padding-bottom: 10px;

        .a-modal-title{
            align-items: center;
            text-align: left;
            color: #e12328
        }

        .a-modal-status{
            justify-content: flex-end;
            justify-items: flex-end;
            align-items: center;
            display: flex;

            .s-approved{
                font-size: 15px;
                font-family: inherit;
                color: #0C53B7; // dark
                background-color: #D0F2FF; // lighter
                padding: 3px 8px;
                border-radius: 8px;
                margin-right: 10px;
            }

            .s-telemedicine{
                font-size: 15px;
                font-family: inherit;
                color: #229A16; // dark
                background-color: #E9FCD4; // lighter
                padding: 3px 8px;
                border-radius: 8px;
            }
        }
    }

    .a-modal-status{
        justify-content: flex-end;
        justify-items: flex-end;
        align-items: center;
        display: flex;

        .s-approved{
            font-size: 15px;
            font-family: inherit;
            font-weight: bold;
            color: #0C53B7; // dark
            background-color: #D0F2FF; // lighter
            padding: 3px 8px;
            border-radius: 8px;
            margin-right: 10px;
        }

        .s-telemedicine{
            font-size: 15px;
            font-family: inherit;
            font-weight: bold;
            color: #229A16; // dark
            background-color: #E9FCD4; // lighter
            padding: 3px 8px;
            border-radius: 8px;
        }
    }

    .a-modal-space{
        margin-top: -10px;
    }

    ul{
        display: inline-flex;
    }

    .ar{
        justify-content: flex-start;
        justify-items: flex-start;
        align-items: center;
        text-align: left;
    }

    // Change Appointment Status Label
    .cas-label{
        margin-top: 8px;
    }
}

.modalfooter{
    display: flex;
    bottom: 0px;
    right: 0px;
}